*.class

# Package Files #
*.jar
*.war
*.ear

/.idea/
/backup/
/ev3_spv_block_store
/ev3_spv_block_store.bak
/ev3_spv_wallet_file
/forwarding-service-testnet.spvchain
/forwarding-service-testnet.wallet
/log-mywallet.log
/my-wallet.iml
/pom.xml
/qr.png
/sec-peergroup-localhost.log
/sec.log
/src/main/java/com/jaeckel/mywallet/CheckBalance.java
/target/classes/
/target/maven-archiver/
/target/surefire/surefire2201437398438951924tmp
/target/surefire/surefire2201778203371977012tmp
/target/surefire/surefire2629948525499242514tmp
/target/surefire/surefire8373720894666419429tmp
/wallet-zero.log
/ws_spv_block_store
